.logo{
    width: 100px;
    margin-top: -30px;
}
body{
    background: #f3f3f3;
}
.container{
    margin-top: 12px;
    height: 72px;
    font-size: 15px;
}

.left{
    width: 200px;
    overflow: hidden;
}
.right{
    width: 765px;
    overflow: hidden;
}
.main{
    margin-top: 0px;
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 200px;
}
.page-title{
    text-align: center;
}