{% extends 'base.html' %}
{% block title %}详情-{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}

{% block main %}
{#    <h3 class="page-title">{{ close.title }}</h3>#}
{#    <p class="close-info">#}
{#        <span>作者：{{ close.author.username }}</span>#}
{#        <span>时间：{{ close.create_time }}</span>#}
{#    </p>#}
{#    #}
{#    <hr>#}
{#    <p class="close-content">{{ close.content }}</p>#}


            <div class="avatar-group" style="margin-top: 10px;float: left">
                <img src="{{ url_for('static',filename='images/'+close.img) }}"
                                          height="295px" width="192px">
            </div>
            <div class="close-group" style="margin-left: 40px;margin-top: 10px;float:left;font-size: 15px">
                <p class="close-title">商品名称：<a href="{{ url_for('detail_close',
                close_id=close.id) }}">{{ close.close_name }}</a></p>
                <p class="close-content" style="height: 10px">商品描述：{{ close.content }}</p>
                <p class="close-content">商品售价：￥{{ close.close_price }}</p>
                <p class="close-num">库存：{{ close.num }}</p>
                <p class="close-author">发布者：{{ close.author.username }}</p>
                <p class="close-time">发布时间：{{ close.create_time }}</p>
            </div>


    <hr style="margin-top: 320px">
    <h4 style="margin-top: 40px">评论 ：</h4>
    <form action="{{ url_for('close_answer') }}" method="post">
        <div class="form-group">
            <input name="close_content" type="text" class="form-control" placeholder="请填写评论">
            <input type="hidden" name="close_id" value="{{ close.id }}">
        </div>
        <div class="form-group" style="text-align: right;">
            <button class="btn btn-primary">立即评论</button>
        </div>
    </form>
    <ul class="answer-list">
        {% for close_answer in close.close_answers %}
            <li>
                <div class="user-info">
                    <img src="{{ url_for('static',filename='images/e_commerceweb1.jpg') }}" alt="" class="avatar">
                    <span class="username">{{ close_answer.author.username }}</span>
                    <span class="create-time">{{ close_answer.create_time }}</span>
                </div>
                <p class="answer-content">{{ close_answer.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}